.carousel-logo {
    width: 150px;
    height:150px;
    background-image: url('/assets/logo150.jpg');
    margin-bottom: 20px;    
}

h1 {
    .head_link {
	color:#fff;
    }
    a:hover {
	text-decoration: none;
	color: lighten(#0088CC, 10%);
    }
}

 /* Carousel base class */
.carousel {
margin-bottom: 60px;
}
.carousel .container {
position: relative;
z-index: 9;
}
.carousel-control {
height: 80px;
margin-top: 0;
font-size: 120px;
text-shadow: 0 1px 1px rgba(0,0,0,.4);
background-color: transparent;
border: 0;
z-index: 10;
}
.carousel .item {
height: 768px;

}
.carousel img {
position: absolute;
margin: 0 auto;
top: 0;
left: 0;
min-width: 100%;

}

.carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 300px;
}
.caption-bottom-left {
    padding: 20px;
    margin-top: 350px;
    margin-left: 40px;
}
.caption-product-detail {
    position:static;
    padding: 10px;
    margin-top: 50%;
    margin-left: 75%;
}



*.carousel-caption h1,
.carousel-caption .lead {
margin: 0;
line-height: 1.25;
color: #fff;
text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
margin-top: 10px;
} 
/*override*/
.carousel-control.right {
    left: auto;
    right: 40px;
}