%ul{:class => "nav"}
  %li
    = link_to "7 OF 9", root_path, :class => 'brand'
  %li{:class => "nav-margin dropdown"}
    %a{:href=>"#", :class=>"dropdown-toggle", :"data-toggle"=>"dropdown"}
      Fostering
      %b{:class=>"caret"}
    %ul{:class=>"dropdown-menu"}
      %li
        %a{:href => "#"}
          Mission
      %li
        %a{:href => "#"}
          Questionnaire

  %li
    %a{:href => "#"}
      Find A Dog
  %li
    %a{:href => "/shop"}
      Shop
  %li
    %a{:href => "#about"}
      About Us
  %li
    %a{:href => "#report"}
      Report Animal Abuse
